* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav_link {
    display: flex;
    justify-content: space-between;
    /* Align items properly */
    /* justify-content: center; */
    position: fixed;
    width: 100%;
    padding: 20px;
    list-style: none;
    align-items: center;
    background-color: rgb(60, 59, 59);
    color: white;
    font-family: Arial, sans-serif;
    font-family: "Dancing Script", cursive;
}

.font {
    font-size: 45px;
    margin-left: 25px;
    /* Align logo to the left */

}

#nav_link li a {
    text-decoration: none;
    color: rgb(241, 236, 236);
}

.nav_link1 li a {
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
    transition: 0.3s;

}

#nav_link .nav_link1 li a:hover {
    color: rgb(251, 249, 251);
    border: solid #ef6603;
    border-radius: 30px;
    background-color: #ef6603;
    border-width: 10px;

}

.nav_link1 {
    list-style: none;
    display: flex;
    gap: 45px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #nav_link {
        flex-wrap: wrap;
        padding: 10px;
    }

    .nav_link1 {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

.pages {
    height: 100vh;
    /* background: rgb(60, 59, 59);
    width: 100%;
    top: 25%; */
    background: linear-gradient(180deg, rgb(60, 59, 59) 75%, #ffffff 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* padding: 20px; */
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-content .highlight {
    /* color: #ef6603; */
    text-decoration: underline;
}

.hero-content p {
    font-size: 25px;
    color: #ddd;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-family: "Dancing Script", cursive;
}

.hero-content .btn {
    text-decoration: none;
    background: none;
    border: 3px solid #ef6603;
    color: #ef6603;
    padding: 20px 60px;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.3s;
    animation-delay: 0.8s;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 10px;
}

.hero-content .btn:hover {
    background: #ef6603;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    #nav_link {
        flex-direction: column;
        padding: 10px;
    }

    .nav_link1 {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
    }
}